body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #3F3F3F;
}
h1 {
	font-weight: 700;
	margin-bottom: 0;
}
h2 {
  font-weight: 500;
}
h3{
	font-weight: 300;
	margin-top: 1%;
}
a{
  color: #3F3F3F;
  text-decoration: underline;
}
a:visited {
  color: #4d4d4d;
  text-decoration: underline;
}
.counties {
  fill: none;
}
.states {
  fill: none;
  stroke: #eee;
  stroke-linejoin: round;
}
#container {
  padding: 5px 0 10px 0;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#map {
  width: 750px;
  height: 590px;
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;
}
.info {
  padding: 6px 8px;
  font: 14px/16px 'Roboto', 'Roboto', sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.center{
  text-align: center;
}
.left{
  padding-left: 5%;
  padding-right: 10%;
  text-align: left;
}